*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    font-family: 'Raleway', sans-serif;
}

.seccion-formulario{
    width: 90%;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario{
    width: 30%;
    background: #fff;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, .6);
    border-radius: 10px;
    text-align: center;
    padding: 30px 40px;
    overflow: hidden;
}

.titulo-form{
    font-size: 35px;
    font-weight: 600;
}

.inputs{
    position: relative;
    margin: 60px 0;
}

.input{
    outline: none;
    border: none;
    background: none;
    border-bottom: 1px solid #c2c2c2;
    width: 100%;
    padding: 10px 10px; 
    font-weight: 500;
    font-size: 18px;
    display: block;
}

.label{
    position: absolute;
    top: 10px;
    left: 0;
    margin-left: 5px;
    transition: top .5s ease-in-out, font-size .5s ease-in-out;
    color: #c2c2c2;
    pointer-events: none;
}

button[type="submit"]{
    display: inline-block;
    width: 150px;
    padding: 10px 5px;
    font-size: 20px;
    font-weight: 400;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.input:focus~.label,
.input:valid~.label{
    top: -20px;
    font-size: 14px;
}

.input:focus{
    outline: none;
}

.input:invalid{
    color: rgb(146, 9, 9);
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::after{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    content: "";
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    transition: width .5s ease-in-out;
}

.input:focus~.barra::after{
    width: 100%;
}
